#dropdown-item-button {
    color: black;
    background-color: white;
    width: 160px;

}

.card {
    border-radius: 0;
}


.Issue-list {
    margin-top: 30px;
}

.card:hover {
    background-color: #7b766b21;
}

.filter{
    width: 200px;
}

.container {
    padding: 90px 0;
}